<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797332049240-3gsgcgevp48sqel0utaqu1n2i4rqoksl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797332049240-3gsgcgevp48sqel0utaqu1n2i4rqoksl</string>
	<key>API_KEY</key>
	<string>AIzaSyD4rlzm-sc1YgpPmgSnogwy0pYx_a-HFDY</string>
	<key>GCM_SENDER_ID</key>
	<string>797332049240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.mengyunxie.LoginExampleFirebase</string>
	<key>PROJECT_ID</key>
	<string>loginexamplefirebase-f08aa</string>
	<key>STORAGE_BUCKET</key>
	<string>loginexamplefirebase-f08aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797332049240:ios:4ac34119dd3415b1b1a92d</string>
</dict>
</plist>